# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Build artifacts
*.o
*.elf
*.map
*.lib
*.a
*.la
*.lo
*.so
*.so.*
*.out
build/
builddir/

# Temporary stuff
*.bak
*.tmp
*.log
*.swp

# Clangd
.cache/
